.header {
    position: relative;
    background-image:url(img/header.jpg);
    background-size: 100%;
    margin-bottom: 0;
}


.header_text {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #fff;
}

.btn-success a {
    color: white;
}

.container-fluid {
    background-image: url(img/bg.jpg);
    background-repeat: repeat;
}

html, body, .container-fluid {
    height: 100%;
}

.img_circle {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    text-align: center;
}

.shop {
    text-align: center;
}

.register {
    float: right;
}

i {
    padding-right: 5px;
    color: white;
}

.img_circle {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    padding-right: 10px;
}

footer {
    background-color: #efefef;
    text-align: center;
    width: 100%;
}
