.header {
    position: relative;
    background-image:url(img/header.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    margin-bottom: 0;
}

.header_text {
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container-fluid {
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
}

html, body, .container-fluid {
    height: 100%;
    list-style-position:inside;
}

.img_circle {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    padding-right: 10px;
}

i {
    padding-right: 5px;
    color: white;
}

h4, h2 {
    text-align: center;
}

/* flip cards css */
/*.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
    text-align: center;

}
.flip .card.flipped{
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    padding: 5%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background:
            radial-gradient(
                    circle,
                    #c4e3f3,
                    #60C6C8
            );
    border-radius: 30%;

}
.flip .card .face {
    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
}

.flip .card .front {
    position: absolute;
    z-index: 1;

}

.front {
   padding-left: 30%;
}

.front h3 {
    padding: 30%;
    padding-top: 40%;
}

.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}

.face ol li {
    font-size: 20px;
}*/

.flip {
   -webkit-perspective: 800;
   perspective: 800;
   width: 90%;
   height: 600px;
   position: relative;
   margin: 50px auto;
}

.flipped {
  transform:rotatey(-180deg);
  -webkit-transform:rotatey(-180deg);
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;/* W3C */
}


.front {
  position: absolute;
  z-index: 1;
  background:
            radial-gradient(
                    circle,
                    #c4e3f3,
                    #60C6C8
            );
  background:
            -webkit-radial-gradient(
                    circle,
                    #c4e3f3,
                    #60C6C8
            );

}

.back {
    min-width: 100%;
    min-height: 100%;
    color: black;
    background:
            radial-gradient(
                    circle,
                    #c4e3f3,
                    #60C6C8
            );
  background:
            -webkit-radial-gradient(
                    circle,
                    #c4e3f3,
                    #60C6C8
            );
  transform:rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
}

/* center flip card front heading */
.front h3 {
    padding-top: 15%;
    padding-bottom: 15%;
}


footer {
    background-color: #efefef;
    text-align: center;
    width: 100%;
}
